# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# C# User-specific files
*.suo
*.user
*.sln.docstates
 
# C# Build results
 
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/